@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.nav {
    width: 100%;
    display: block;
    border-radius: 7px;
    height: 4.3em;
    background-color: rgb(116, 123, 218);
}

.nav-font {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;


}

.flex_it {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1em;
    left: 1em;
}

.log-cred {
    display: inline-block;
    position: absolute;
    top: 2.7em;
    right: 1em;

}

.log-cred a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding-right: 20px;

}


.mmb {

    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;


}

.dropdownMenu {
    position: relative;
    display: inline-block;
}

.dropbutton {
    background-color: rgb(116, 123, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 15px;
    padding-right: 20px;
    border: none;
}

.dropdown-link {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-link a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-link a:hover {
    background-color: #ddd;
}

.dropdownMenu:hover .dropdown-link {
    display: block;
}

.dropdownMenu:hover .dropbutton {
    background-color: rgb(116, 123, 218);
    color: white; border-radius: 7px;
}





.mmb {

    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 400px;
}

.f1 input {
    background-color: rgb(101, 163, 255);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 90%;
    border-radius: 5px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
}



.nxt button{
    border-style: none;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 15px;
    background-color: #FF4B2B;
}


